<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="app.js"></script>
  <style>
    table, td, tr{
      border: 1px solid black;
      border-collapse: collapse;
    }
    td{
      padding:5px;
    }
  </style>
  <body>
    <div ng-app="myApp" ng-controller="bedrijfCtrl">
      <table>
        <tr>
          <th>Id</th>
          <th>Voornaam</th>
          <th ng-click="orderByMe('Achternaam')">Achternaam</th>
          <th>Straat</th>
          <th>Huisnummer</th>
          <th>Postcode</th>
          <th ng-click="orderByMe('Woonplaats')">Woonplaats</th>
          <th>Telefoonnummer</th>
          <th>Tijd toegevoegd</th>
        </tr>
        <tr ng-repeat="x in persoon | orderBy:myOrderBy" ng-mouseover="time()">
          <td>{{ x.Id }}</td>
          <td>{{ x.Voornaam }}</td>
          <td>{{ x.Achternaam }}</td>
          <td>{{ x.Straat }}</td>
          <td>{{ x.Huisnummer }}</td>
          <td>{{ x.Postcode }}</td>
          <td>{{ x.Woonplaats }}</td>
          <td>{{ x.Telefoonnummer }}</td>
          <td>{{ x.Tijdtoegevoegd }}</td>
        </tr>
      </table>

      <p><a href="#/!">Main</a></p>
      <p><a href="#!update">Update record</a></p>
      <p><a href="#!delete">Delete record</a></p>
      <p><a href="#!create">Create record</a></p>

      <p>{{ msg }}</p>
      <p>Date: {{ timsestamp }}</p>
      <div ng-view></div>
    </div><!--ng-app-->
  </body>
</html>
