<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="app.js"></script>
  <style>
    div{
      margin:5px;
      padding:5px;
    }
    table, td, tr{
      border: 1px solid black;
      border-collapse: collapse;
    }
    td{
      padding:5px;
    }
    button{
      margin: 5px;
    }
  </style>
  <body>
    <div ng-app="myApp" ng-controller="bedrijfCtrl">
      <table>
        <tr>
          <th>Id</th>
          <th>Voornaam</th>
          <th ng-click="orderByMe('Achternaam')">Achternaam</th>
          <th>Straat</th>
          <th>Huisnummer</th>
          <th>Postcode</th>
          <th ng-click="orderByMe('Woonplaats')">Woonplaats</th>
          <th>Telefoonnummer</th>
          <th>Tijd toegevoegd</th>
          <th>Verwijderen</th>
        </tr>
        <tr ng-repeat="x in persoon | orderBy:myOrderBy" ng-mouseover="x.Tijdtoegevoegd">
          <td ng-model="id">{{ x.Id }}</td>
          <td>{{ x.Voornaam }}</td>
          <td>{{ x.Achternaam }}</td>
          <td>{{ x.Straat }}</td>
          <td>{{ x.Huisnummer }}</td>
          <td>{{ x.Postcode }}</td>
          <td>{{ x.Woonplaats }}</td>
          <td>{{ x.Telefoonnummer }}</td>
          <td>{{ x.Tijdtoegevoegd }}</td>
          <td><button ng-click="ID(x.Id)">Select</button></td>
          <!-- <td><button ng-click="click(x.Id)">Delete</button></td> -->
        </tr>
      </table>

      <p><a href="#/!">Main</a></p>
      <a href="#!update">update</a>
      <a href="#!delete">delete</a>

      <p>{{ msg }}</p>
      <div ng-view></div>
    </div>

  </body>
</html>
